{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<section class="service_section layout_padding login">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>Se <span>Connecter</span></h2>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="box">
                    <div class="detail-box">
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="btn-box">
                                <button class="btn btn-primary" type="submit">
                                    Se connecter
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}